<!DOCTYPE html>
<html>

<head>
    <title>Welcome to {{appName}}</title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #2f9a64">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10"><td></td></tr>
                                            <tr>
                                                <td align="left">
                                                    <a href=""><img
                                                            src="https://s3.amazonaws.com/spk.profile.photo/1722854294290_stageDrivingLogo.png"
                                                            alt="Site logo" width="100" /></a>
                                                </td>
                                                <td style="color: white; font-size: 20px;">{{appName}}</td>
                                            </tr>
                                            <tr height="8"><td></td></tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr height="20"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            Dear {{name}},
                        </td>
                    </tr>

                    <tr height="10"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            Welcome to <strong>{{appName}}</strong>! Your staff account has been created by the administrator.
                        </td>
                    </tr>

                    <tr height="10"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            You can now log in using the following credentials:
                        </td>
                    </tr>

                    <tr height="10"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            <strong>Email:</strong> {{email}}<br />
                            <strong>Password:</strong> {{password}}
                        </td>
                    </tr>

                    <tr height="10"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            For security reasons, we recommend changing your password after your first login.
                        </td>
                    </tr>

                    <tr height="10"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            We're excited to have you onboard. If you have any questions, feel free to reach out to us at <strong>{{contactEmail}}</strong>.
                        </td>
                    </tr>

                    <tr height="20"><td></td></tr>

                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #050f2f;">
                            Best regards,<br />
                            <strong>{{emailSignature}}</strong><br />
                            Team {{appName}}
                        </td>
                    </tr>

                    <tr height="30"><td></td></tr>

                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #2f9a64">
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10"><td></td></tr>
                                            <tr>
                                                <td align="center" style="color: white; font-size: 14px;">
                                                    &copy; 2024 {{appName}} | All Rights Reserved
                                                </td>
                                            </tr>
                                            <tr height="10"><td></td></tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
            <td width="55"></td>
        </tr>
    </table>
</body>

</html>
